@model IEnumerable<CrossOver.Models.NewsArticle>

@{
    ViewBag.Title = "Index";
}

    
    <h2 class="pull-left">Latest Stories</h2>

    <div class="pull-right">
        @Html.ActionLink("Create New Article", "Create", null, new {@class ="btn btn-primary margin20p"})
    </div>

<div class="clear-fix clearfix"></div>


<div class="row">
@foreach (var item in Model)

{ 
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@item.ImageTile" 
                 alt="100%x200" class="imageTile" 
                 data-holder-rendered="true">
            <div class="caption">
                <h3 >@Html.DisplayFor(modelItem => item.Title)
                    
                <small>@Html.DisplayFor(modelItem => item.NewsCategory.CategoryName)</small></h3>
                <small>@Html.DisplayFor(modelItem => item.PublishedOn)</small>
                <p class="pull-right">
                    -@Html.DisplayFor(modelItem => item.UserProfile.UserName)
                </p>
                <p class="clearfix"></p>

                <div class="newsSummary">
                    @Html.Raw(item.FormattedContent)
                </div>
                   
                    <p>
                        @Html.ActionLink("Read", "Details", new { id = item.ArticleId }, new { @class = "btn btn-default btn-xs" }) *
                        @Html.ActionLink("Edit", "Edit", new { id = item.ArticleId }, new { @class = "btn btn-warning btn-xs" }) *
                        @Html.ActionLink("Delete", "Delete", new { id = item.ArticleId }, new { @class = "btn btn-danger btn-xs" })
                    </p>
                </div>
        </div>
    </div>
}
</div>

